@layer components {
  .container {
    @apply py-12 lg:py-16 xl:py-24 2xl:py-32 px-6 md:px-12 lg:px-24 max-w-screen-2xl w-full mx-auto;
  }

  .text-body, .text-body-container {
    @apply text-slate-400 sm:text-lg lg:text-xl leading-relaxed;
  }

  .text-body-container {
    @apply max-w-prose space-y-4 sm:space-y-6 lg:space-y-8;
  }
}